# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Varios
.DS_Store

# Ansible (Sesion 2)
ansible/hosts
ansible/group_vars/all.yml
ansible/*.retry

# Claves SSH generadas automaticamente por Terraform (Sesion 2)
ansible/clave_ssh_vm
ansible/clave_ssh_vm.pub
